<div class="container mt-5">
  <div class="jumbotron text-center">
      <h1 class="display-4">Welcome <%= user %></h1>
      <p class="lead">Manage your users efficiently and effectively.</p>
      <hr class="my-4">
      <a class="btn btn-primary btn-lg" href="/edit" role="button">Update Details</a>
  </div>
  <div class="d-flex justify-content-center">
      <form class="d-flex" role="search" action="/logoutUser" method="POST">
          <button class="btn btn-outline-danger" type="submit">Logout</button>
      </form>
  </div>
</div>
